---
layout: default
id: splash
---

{% assign postsLeft = collections.post | byCategory: 'left' %}
{% assign postsRight = collections.post | byCategory: 'right' %}

<div class="column typeset column--left" id="left">

    <header class="site-header left" role="banner">
        {% for i in (1..2) %}
        <div class="title-stack">
            {% for i in (1..3) %}
            <a class="site-title" href="/">
                <h4>ulises<span>.us</span></h4>
            </a>
            {% endfor %}
        </div>
        {% endfor %}
    </header>

    {% for post in postsLeft reversed %}
    {% if post.data.tags contains 'sticky' %}
    {% include "post-single.html" %}
    {% endif %}
    {% endfor %}

    {% for post in postsLeft reversed %}
    {% unless post.data.tags contains 'sticky' %}
    {% include "post-single.html" %}
    {% endunless %}
    {% endfor %}

</div>

<div class="column typeset column--right" id="right">
    {% include "header.html" %}

    {% for post in postsRight reversed %}
    {% if post.data.tags contains 'sticky' %}
    {% include "post-single.html" %}
    {% endif %}
    {% endfor %}

    {% for post in postsRight reversed %}
    {% unless post.data.tags contains 'sticky' %}
    {% include "post-single.html" %}
    {% endunless %}
    {% endfor %}

</div>