.p-home {
  a {
    text-decoration: none;
    cursor: pointer;
  }
  .post-list-featured,
  .post-list-past {
    h2 {
      font-size: 2.75rem;
      text-align: center;
    }

    margin-bottom: 3.5rem;
    @include breakpoint("medium") {
      margin-bottom: 10.5rem;
    }
  }

  #shop h2 {
    font-size: 4rem;
  }
}
