.p-post-type {
  .main-wrapper {
    min-height: 100vh;
  }
  main {
    opacity: 1;
    transition: opacity $duration--xlong $easing--bezier-standard,
      transform $duration--xlong $easing--bezier-standard;
    min-height: 100vh;

    &.entering {
      position: absolute;
      top: 0;
      transform: translateX(100vw);
    }

    &.leaving {
      position: absolute;
      top: 0;
      opacity: 0.75;
      min-height: 200vh;
    }
  }
}
