@import "normalize.css";
@import "core/vars";
@import "core/mixins";

// default theme
.l-default {
  --background-color: #{$color__white};
  --text-color: #{$color__black};
  --link-hover-color: #{$color__gray--40};
}

// dark theme
$background--dark: $color__black;
.l-default.p-post-page {
  --background-color: #{$color__black};
  --text-color: #{$color__white};
  --link-hover-color: #{$color__gray--40};
}

@import "core/typography";

@import "components/nav";
@import "components/post-list";
@import "components/postcard";
@import "components/pagination";
@import "components/footer";
@import "components/page";
@import "components/madlib";
@import "components/searchbox";

@import "pages/about";
@import "pages/home";
@import "pages/post-page";
@import "pages/post-type";
@import "pages/search";

.main-wrapper {
  main {
    display: block;
    background-color: $color__white;

    width: calc(100% - 2 * #{$spacing-03});
    padding-left: $spacing-03;
    padding-right: $spacing-03;

    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    @include breakpoint("medium") {
      padding-top: 10.5rem;
      padding-bottom: 10.5rem;
    }
  }
}
