@import "normalize.css";
@import "core/vars";
@import "core/mixins";
@import "core/typography";

@import "components/nav";
@import "components/post-list";
@import "components/postcard";
@import "components/pagination";
@import "components/footer";
@import "components/page";

@import "pages/search";
@import "pages/post-page";

.l-default {
  --background-color: #{$color__white};
  --text-color: #{$color__black};
  --link-hover-color: #{$color__gray--40};

  background-color: var(--background-color);
  transition: background-color $duration--long $easing--bezier-ease-in;
}

.l-default.p-post-page {
  --background-color: #{$color__black};
  --text-color: #{$color__white};
  --link-hover-color: #{$color__gray--40};
}

.main-wrapper {
  @include get-header-height("margin-top");
  padding: $spacing-03;
}
