.nav {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 99;
  @include boxshadow;

  background-color: var(--background-color);
  @include get-header-height("height");
  transition: background-color $duration--long $easing--bezier-ease-in,
    height $duration--xlong $easing--bezier-ease-out;

  a {
    text-decoration: none;
    &:hover {
      color: unset;
    }
  }

  h1,
  ul {
    margin: unset;
  }

  button,
  input[type="submit"] {
    cursor: pointer;
  }

  .nav__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    height: 100%;
    padding: 1.35rem $spacing-03;
  }

  .nav__links-list {
    transition: all $duration--xlong $easing--bezier-ease-out;
    opacity: 0;
    transform: translateY(-50vh);
    height: 0;
  }

  &.nav--open {
    height: 27em;
  }

  &.nav--open .nav__links-list {
    opacity: 1 !important;
    transform: translateY(0);
    height: 100%;
  }

  &.nav--open .header-noun-scroll {
    opacity: 0;
  }

  // other styles
  .nav__header-title,
  .nav__page-title,
  .nav__links-list,
  .nav__action .button {
    @include get-map-values($serif);
    font-size: 1.5rem;
    @include breakpoint("medium") {
      font-size: 2rem;
    }
  }

  .header-noun-scroll {
    position: absolute;
    display: none;
    padding-left: 0.5rem;
    transition: opacity $duration--medium $easing--bezier-standard;
  }

  .nav__page-title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  .nav__links-list {
    text-align: center;
    text-transform: uppercase;
    > li:not(:last-child) {
      margin-bottom: 2rem;
    }
    a + ul {
      margin-top: 1rem;
    }
  }

  .nav__links-about {
    text-transform: capitalize;
    li {
      margin-top: $spacing-01;
    }

    @include breakpoint("medium") {
      display: flex;

      li:not(:last-child) {
        padding-right: 3rem;
      }
    }
  }

  .nav__action {
    justify-self: end;
  }

  .nav__close {
    display: none;
    margin-left: $spacing-02;
    a::before,
    a::after {
      content: " ";
      display: block;
      position: relative;
      top: -0.75rem;
      height: 2rem;
      width: 2rem;
    }

    a::before {
      border-bottom: 2px solid var(--text-color);
      transform: rotate(45deg) translateX(0.5rem);
    }
    a::after {
      border-top: 2px solid var(--text-color);
      transform: rotate(-45deg) translateX(0.5rem);
    }
  }
}

// page specific styles

.p-home {
  .header-noun-scroll {
    display: inline;
  }
}

.p-events,
.p-post-page.events {
  .nav__links-list #events {
    display: none;
  }
}

.p-projects,
.p-post-page.projects {
  .nav__links-list #projects {
    display: none;
  }
}

.p-post-page {
  &.events,
  &.projects {
    .nav__close {
      display: block;
    }
  }
}

.p-about .nav__links-list #about {
  display: none;
}
