.postcard a {
  display: block;
  width: fit-content;
  text-decoration: none;

  .postcard__thumbnail-wrapper {
    background-color: transparent;
    transition: background-color $duration--short $easing--bezier-sharp;

    picture {
      transition: filter $duration--short $easing--bezier-standard;
    }
  }

  &:hover {
    .postcard__thumbnail-wrapper {
      background-color: var(--predominant-color);
      picture {
        filter: grayscale(100%) invert(1);
        mix-blend-mode: screen;
      }
    }
    .postcard__meta {
      color: var(--predominant-color);
    }
  }
}
