---
title: home
layout: default
permalink: /index.html
---

{% assign projects_link = '<a href="/projects">Projects</a>' %}
{% include "post-list-featured.html", header_title: projects_link, featured_items: collections.projects %}

{% assign events_link = '<a href="/events">Events</a>' %}
{% include "post-list-featured.html", header_title: events_link, featured_items: collections.events %}

{% comment %} <h2>Shop</h2> {% endcomment %}