---
title: home
layout: default
permalink: /index.html
---

{% include "post-list-featured.html", header_title: 'Projects', featured_items: collections.projects %}

{% include "post-list-featured.html", header_title: 'Events', featured_items: collections.events %}

<h2>Shop</h2>