{% assign nav_title = title | navTitle: tags %}

<div class="nav" id="nav">
  <div class="nav__wrapper">
    <div class="nav__header">
      <h1 class="nav__header-title"><a href="/">ulises</a>{% include "madlib.html" %}</h1>
    </div>

    <div class="nav__links">
      {% if nav_title %}
      <div class="nav__page-title">
        {% if nav_title == "search" %}
        {%include "searchbox.html" %}{% else %}{{ nav_title }}
        {% endif %}
      </div>
      {% endif %}
      <!-- Projects, Events,  About, Donate, Shop, Search -->
      <ul class="nav__links-list" id="nav-menu-links">
        <li class="projects"><a href="/projects">projects</a></li>
        <li class="events"><a href="/events">events</a></li>
        <li class="about"><a href="/about">about</a></li>
        <li class="about"><a href="/donate">donate</a></li>
        <li class="shop"><a href="/#shop">shop</a></li>
        <li class="search">
          {% include "searchbox.html" %}
        </li>
      </ul>
    </div>

    <div class="nav__action"><button id="js-nav-menu-toggle" class="button">Menu</button></div>
    <div class="nav__close"><a href="/{{ nav_title }}"></a></div>
  </div>
</div>